/* Constants */
:root {
    --page-dark-color: #191b26;
    --subpage-dark-color: #2e303a;
    --light-text-color: white;
    --accent-color: #9cb0ff;
}

/* Specific changes */
html {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 100%;
    background-color: var(--page-dark-color);
    color: var(--light-text-color);
}

#container {
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

/* Result text */
#result-text {
    font-size: 10vmin;
    color: var(--accent-color);
}

/* Inputs div*/
#inputs-div {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

/* Time Input */
#time-input-div {
    background-color: var(--subpage-dark-color);
    width: 95%;
    margin: auto auto 2% auto;
    padding: 2%;
    border-radius: 5vmin;
}

#target-time {
    border-radius: 5vmin;
    border: none;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    font-size: 10vmin;
    text-align: center;
}

#label-target-time {
    width: 100%;
    background-color: var(--subpage-dark-color);
    color: var(--accent-color);
    font-size: 5vmin;
}

/* Checkbox */
#offset-checkbox-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 95%;
    margin: auto;
    background-color: var(--subpage-dark-color);
    border-radius: 5vmin;
}

#offset-box {
    --checkbox-size: 10vmin;
    border: none;
    accent-color: var(--accent-color);
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin: 2%;
}

#label-offset-box {
    color: var(--accent-color);
    background-color: var(--subpage-dark-color);
    font-size: 5vmin;
}

/* Helper classes */
.text-xxl {
    font-size: xx-large;
}

.text-bold {
    font-weight: bold;
}
