/* Constants */
:root {
    --page-dark-color: #191b26;
    --subpage-dark-color: #2e303a;
    --light-text-color: white;
    --accent-color: #9cb0ff;
}

/* Specific changes */
html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--page-dark-color);
    color: var(--light-text-color);
}

#container {
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

/* Result text */
#result-text {
    font-size: 10vmin;
    color: var(--accent-color);
}

/* Inputs div*/
#inputs-div {
    width: 90vw;
}

/* Time Input */
#time-input {
    background-color: var(--subpage-dark-color);
    width: 95%;
    margin: auto;
    padding: 2%;
    border-radius: 25px;
}

#target-time {
    border-radius: 25px;
    border: none;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    font-size: 10vmin;
    text-align: center;
}

#label-target-time {
    width: 100%;
    background-color: var(--subpage-dark-color);
    color: var(--accent-color);
    font-size: 5vmin;
}

/* Checkbox */
#offset-checkbox {
    width: 95%;
    margin: auto;
    padding: 2%;
    background-color: var(--subpage-dark-color);
    border-radius: 25px;
}

#offset-box {
    border: none;
    accent-color: var(--accent-color);
    transform: scale(5);
}

#label-offset-box {
    color: var(--accent-color);
    background-color: var(--subpage-dark-color);
    font-size: 5vmin;
}

/* Helper classes */
.text-xxl {
    font-size: xx-large;
}

.text-bold {
    font-weight: bold;
}